<!DOCTYPE html>
<html>
<head>
  <title>Film Details</title>
</head>
<body>
<h1>Film Details</h1>

<table>
  <tr>
    <td>Title:</td>
    <td>$movie.title</td>
  </tr>
  <tr>
    <td>Movie Type:</td>
    <td>$movie.movieType</td>
  </tr>
  <tr>
    <td>Country of Origin:</td>
    <td>$movie.countryOfOrigin</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>$movie.description</td>
  </tr>
  <tr>
    <td>Director:</td>
    <td>$movie.director</td>
  </tr>
  <tr>
    <td>Actors:</td>
    <td>$movie.actors</td>
  </tr>
</table>
</body>
</html>
